### Import the necessary library

In [1]:
import numpy as np
import pandas as pd

### Load the dataset

In [2]:
df = pd.read_csv('heart.csv')

### 1. Display Top 5 Rows of The Dataset

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

### 2. Check The Last 5 Rows of The Dataset

In [4]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
print("Shape of the dataset", df.shape)
print("Number of rows", df.shape[0])
print("Number of rows", df.shape[1])

Shape of the dataset (1025, 14)
Number of rows 1025
Number of rows 14

### 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

### 5. Check Null Values In The Dataset

In [7]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### 6. Check For Duplicate Data and Drop Them

In [12]:
df.duplicated().sum()

0

In [10]:
df = df.drop_duplicates()

In [11]:
df.duplicated().sum()

0

### 7. Get Overall Statistics About The Dataset

In [ ]:
df.descr

### 8. Draw Correlation Matrix

### 9. How Many People Have Heart Disease, And How Many Don't Have Heart Disease In This Dataset?

### 10. Find Count of  Male & Female in this Dataset

### 11. Find Gender Distribution According to The Target Variable

### 12. Check Age Distribution In The Dataset

### 13. Check Chest Pain Type

### 14. Show The Chest Pain Distribution As Per Target Variable

### 15. Show Fasting Blood Sugar Distribution According To Target Variable

### 16.  Check Resting Blood Pressure Distribution

### 17. Compare Resting Blood Pressure As Per Sex Column

### 18. Show Distribution of Serum cholesterol

### 19. Plot Continuous Variables